<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/about.css">
    <title>About Page</title>
</head>

<body>
    <h1>Welcome to About Page</h1>
    <img src="/images/laying_in_water.jpg" height="400" width="600" alt="Image Not Found">
    <img src="/images/walking_in_water.jpg" height="400" width="600" alt="Image Not Found">
</body>

</html>