<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=O">
    <title>LOGIN PAGE</title>
</head>

<body>
    <%- include('common/header')%>
        <h1>This is Login Page</h1>
        <input type="email" placeholder="Enter your Email"><br>
        <input type="password" placeholder="Enter your Password"><br>
        <input type="submit" value="Submit">
</body>

</html>