<%- include("./include/header.ejs")%>
    <%- include("./include/navigation.ejs")%>
        <h1>Welcome to Home Page</h1>
        <img src="/images/simple_look.jpg" width="245" height="500" alt="Image Not Found">
        <img src="/images/simple_look.jpg" width="245" height="500" alt="Image Not Found">
        <img src="/images/simple_look.jpg" width="245" height="500" alt="Image Not Found">
        <img src="/images/simple_look.jpg" width="245" height="500" alt="Image Not Found">
        <img src="/images/simple_look.jpg" width="245" height="500" alt="Image Not Found">
        <!-- <script src="/js/script.js"></script> -->
        <%- include("./include/footer.ejs")%>