<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.5">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home Page</title>
</head>

<body>
    <button><a href="./about">About</a></button>
    <button><a href="./contact">Contact</a></button>
    <hr color="red" height="3px">
    <h1>Welcome to Home Page</h1>
    <img src="/images/simple_look.jpg" width="245" height="500" alt="Image Not Found">
    <img src="/images/simple_look.jpg" width="245" height="500" alt="Image Not Found">
    <img src="/images/simple_look.jpg" width="245" height="500" alt="Image Not Found">
    <img src="/images/simple_look.jpg" width="245" height="500" alt="Image Not Found">
    <img src="/images/simple_look.jpg" width="245" height="500" alt="Image Not Found">
    <!-- <script src="/js/script.js"></script> -->
</body>

</html>